body{
	margin: 0px auto;
}
#firstrows{
	height: 60px;
	width: 100%;
	position: relative;
}
#firstrows #logo{
	position:absolute;
	float: left;
	left: 10%;
	top: 10px;
	z-index: 1001;
}
.cf:before, .cf:after{
    content:"";
    display:table;
} 
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}    
/* Form wrapper styling */
.form-wrapper {
	position: absolute;
	margin-top: 35px;
	right: 10%;
    width: 450px;
    border-radius: 10px;
    zoom:0.72;
}
/* Form text input */
.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 10px 0 0 10px;      
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background:#497D92;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
.form-wrapper button:hover{     
    background: #6499B0;
}   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background:#6499B0;
    outline: 0;   
}
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #497D92 transparent;
    top: 12px;
    left: -6px;
}
.form-wrapper button:hover:before{
    border-right-color:#6499B0;
}
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #6499B0;
}      
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
#secondrows{
	position:absolute;
	top: 60px;
	width: 100%;
	background-color: #497D92;
	height: 40px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
#secondrows ul{
	position: relative;
	left: 55%;
	margin: 0px;
	padding: 0px;
	height: 41px;
}

#secondrows ul li{
	float: left;
	margin: 0px;
	list-style-type: none;
	color: white;
	line-height: 40px;
	overflow: hidden;	
	padding-left: 10px;
	padding-right: 10px;
}
#secondrows ul li:hover{
	background-color: white;
	color: #497D92;
	cursor: pointer;
}
#secondrows ul li a:visited {color:white;}
#secondrows ul li a:hover{color: #497D92;}
#secondrows ul li a{
	margin: 0px;
	padding: 0px;
}
